<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    metadata-complete="false"
    version="3.1">

    <servlet>
    	<display-name>DeleteEmployeeServlet</display-name>
    	<servlet-name>DeleteEmployeeServlet</servlet-name>
    	<servlet-class>com.exercise8.app.DeleteEmployeeServlet</servlet-class>
    </servlet>

    <servlet>
    	<display-name>DeleteRoleServlet</display-name>
    	<servlet-name>DeleteRoleServlet</servlet-name>
    	<servlet-class>com.exercise8.app.DeleteRoleServlet</servlet-class>
    </servlet>    

    <servlet>
    	<display-name>UpdateRoleServlet</display-name>
    	<servlet-name>UpdateRoleServlet</servlet-name>
    	<servlet-class>com.exercise8.app.UpdateRoleServlet</servlet-class>
    </servlet>        

    <servlet>
    	<display-name>AddRoleServlet</display-name>
    	<servlet-name>AddRoleServlet</servlet-name>
    	<servlet-class>com.exercise8.app.AddRoleServlet</servlet-class>
    </servlet>  

    <servlet>
        <display-name>EmployeeRoleServlet</display-name>
        <servlet-name>EmployeeRoleServlet</servlet-name>
        <servlet-class>com.exercise8.app.EmployeeRoleServlet</servlet-class>
    </servlet>   

    <servlet>
        <display-name>ContactInfoServlet</display-name>
        <servlet-name>ContactInfoServlet</servlet-name>
        <servlet-class>com.exercise8.app.ContactInfoServlet</servlet-class>
    </servlet>                

    <servlet>
        <display-name>AddEmployeeServlet</display-name>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <servlet-class>com.exercise8.app.AddEmployeeServlet</servlet-class>
    </servlet>  

    <servlet>
        <display-name>UpdateEmployeeServlet</display-name>
        <servlet-name>UpdateEmployeeServlet</servlet-name>
        <servlet-class>com.exercise8.app.UpdateEmployeeServlet</servlet-class>
    </servlet>      

    <servlet-mapping>
    	<servlet-name>DeleteEmployeeServlet</servlet-name>
    	<url-pattern>/DeleteEmployeeServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
    	<servlet-name>DeleteRoleServlet</servlet-name>
    	<url-pattern>/DeleteRoleServlet</url-pattern>
    </servlet-mapping>    

    <servlet-mapping>
    	<servlet-name>UpdateRoleServlet</servlet-name>
    	<url-pattern>/UpdateRoleServlet</url-pattern>
    </servlet-mapping>       

    <servlet-mapping>
    	<servlet-name>AddRoleServlet</servlet-name>
    	<url-pattern>/AddRoleServlet</url-pattern>
    </servlet-mapping>    

    <servlet-mapping>
        <servlet-name>EmployeeRoleServlet</servlet-name>
        <url-pattern>/EmployeeRoleServlet</url-pattern>
    </servlet-mapping>  

    <servlet-mapping>
        <servlet-name>ContactInfoServlet</servlet-name>
        <url-pattern>/ContactInfoServlet</url-pattern>
    </servlet-mapping>      

    <servlet-mapping>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <url-pattern>/AddEmployeeServlet</url-pattern>
    </servlet-mapping>                  

    <servlet-mapping>
        <servlet-name>UpdateEmployeeServlet</servlet-name>
        <url-pattern>/UpdateEmployeeServlet</url-pattern>
    </servlet-mapping>      
</web-app>
