<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    metadata-complete="false"
    version="3.1">

    <servlet>
        <servlet-name>InitialServlet</servlet-name>
        <servlet-class>com.exercise8.app.InitialServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>          

    <context-param>
        <param-name>org.eclipse.jetty.servlet.Default.dirAllowed</param-name>
        <param-value>false</param-value>
    </context-param>

    <servlet>
        <servlet-name>employeelist</servlet-name>
        <servlet-class>com.exercise8.app.EmployeeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>addemployee</servlet-name>
        <servlet-class>com.exercise8.app.AddEmployeeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>manageroles</servlet-name>
        <servlet-class>com.exercise8.app.RoleServlet</servlet-class>
    </servlet>  

    <servlet>
        <servlet-name>updateemployee</servlet-name>
        <servlet-class>com.exercise8.app.UpdateEmployeeServlet</servlet-class>
    </servlet>      

    <servlet>
        <servlet-name>updateroles</servlet-name>
        <servlet-class>com.exercise8.app.UpdateRoleServlet</servlet-class>
    </servlet>     

    <servlet>
        <servlet-name>addroleservlet</servlet-name>
        <servlet-class>com.exercise8.app.AddRoleServlet</servlet-class>
    </servlet>  

    <servlet>
        <servlet-name>addemployeeform</servlet-name>
        <jsp-file>/addemployeeform.jsp</jsp-file>
    </servlet>  

    <servlet>
        <servlet-name>notallowed</servlet-name>
        <jsp-file>/notallowed.jsp</jsp-file>
    </servlet>          

    <servlet>
        <servlet-name>notfound</servlet-name>
        <jsp-file>/notfound.jsp</jsp-file>
    </servlet>               

    <servlet-mapping>
        <servlet-name>employeelist</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>addemployee</servlet-name>
        <url-pattern>/employee/add/result</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>manageroles</servlet-name>
        <url-pattern>/roles</url-pattern>
    </servlet-mapping>    

    <servlet-mapping>
        <servlet-name>updateemployee</servlet-name>
        <url-pattern>/employee/update</url-pattern>
    </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>updateroles</servlet-name>
        <url-pattern>/roles/update</url-pattern>
    </servlet-mapping>     

    <servlet-mapping>
        <servlet-name>addroleservlet</servlet-name>
        <url-pattern>/roles/add</url-pattern>
    </servlet-mapping>  

    <servlet-mapping>
        <servlet-name>addemployeeform</servlet-name>
        <url-pattern>/employee/add</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>notallowed</servlet-name>
        <url-pattern>/notallowed</url-pattern>
    </servlet-mapping>    

    <servlet-mapping>
        <servlet-name>notfound</servlet-name>
        <url-pattern>/notfound</url-pattern>
    </servlet-mapping>        
</web-app>